@mixin glitter {
    background-image: url('../imgs/glitter.gif');
    background-size: 100%;
}
@mixin prata {
    background-image: url('../imgs/prata.jpg');
    background-size: 100%;
}
@mixin marmore {
    background-image: url('../imgs/marmore.jpg');
    background-size: 100%;
}
@mixin fundo1 {
    background-color:#525252;
}
@mixin fundo2 {
    background-color: #ffcb1a;
}
@mixin fundo3 {
    background-color:#333333;
}